body {
    background-color: black;
    color: white;
}

.team-logo {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: auto;
}

.big-text {
    font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .team-logo {
        height: 175px;
        width: 175px;
    }
    .MuiTypography-h4 {
        font-size: 1.5625rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .team-logo {
        height: 275px;
        width: 275px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .team-logo {
        height: 375px;
        width: 375px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .team-logo {
        height: 475px;
        width: 475px;
    }
    .big-text {
        font-size: 8rem;
    }
}
  

